name: WASM Build (FNA)

on: 
  push:
    branches: 
      - main 
  workflow_dispatch:
      
jobs:
  windows:
    strategy:
      matrix:
        os: [ubuntu-latest]
        variant: [Release]
    runs-on: ${{ matrix.os }}
    name: WASM ${{ matrix.variant }} on ${{ matrix.os }}
    steps:
      - name: generate random name
        run: echo RELEASE_NAME=$(uuidgen) >> $GITHUB_ENV
      - name: Check out source
        uses: actions/checkout@v1
      - uses: mymindstorm/setup-emsdk@v14
        with:
          version: 3.1.56
      - name: Install dependencies
        run: |
          sudo apt -y update
          sudo apt install -y ninja-build cmake llvm lld clang build-essential python-is-python3 curl git lldb libicu-dev liblttng-ust-dev libssl-dev libkrb5-dev pigz cpio spirv-headers
      - name: Verify
        run: emcc -v
      - name: SDL3
        shell: bash
        run: |
          git clone -b release-3.2.26 https://github.com/libsdl-org/SDL
          cd SDL
          git apply /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL.patch
          mkdir emscripten-build
          cd emscripten-build
          CFLAGS="-pthread" emcmake cmake -S .. \
            -DSDL_WERROR=ON \
            -DSDL_TESTS=OFF \
            -DSDL_INSTALL_TESTS=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=prefix \
            -DSDL_PTHREADS=ON \
            -DSDL_PTHREADS_SEM=ON \
            -GNinja
          ninja
      - name: SDL2
        shell: bash
        run: | 
          mkdir SDL2
          cd SDL2
          bash ../symbolrenamer.sh ../SDL/emscripten-build/libSDL3.a ./SDL3.renamed.h
          git clone -b release-3.2.26 https://github.com/libsdl-org/SDL
          cd SDL
          git apply /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL.patch
          git apply /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL3-SDL2.patch
          mkdir emscripten-build
          cd emscripten-build
          emcmake cmake -S .. \
            -DSDL_WERROR=OFF \
            -DSDL_TESTS=OFF \
            -DSDL_INSTALL_TESTS=OFF \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_INSTALL_PREFIX=prefix \
            -DSDL_PTHREADS=ON \
            -DSDL_PTHREADS_SEM=ON \
            -DCMAKE_C_FLAGS="-pthread -include /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL2/SDL3.renamed.h" \
            -GNinja
          ninja
          cd ../..
          git clone -b release-2.32.58 https://github.com/libsdl-org/sdl2-compat
          cd sdl2-compat
          git apply /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL2.patch
          mkdir emscripten-build
          cd emscripten-build
          emcmake cmake -S .. \
            -DSDL3_INCLUDE_DIRS="/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL2/SDL/include" \
            -DSDL3_STATIC_LIBRARY="/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL2/SDL/emscripten-build/libSDL3.a" \
            -DSDL2COMPAT_STATIC=1 \
            -DSDL2COMPAT_TESTS=OFF \
            -DSDL2COMPAT_X11=OFF \
            -DCMAKE_C_FLAGS="-pthread -DSTATIC_SDL3" \
            -GNinja
          ninja
          cd ../..
          cp sdl2-compat/SDL/emscripten-build/libSDL3.a .
          cp sdl2-compat/emscripten-build/libSDL2-2.0.a libSDL2.a
          emcc -r -o SDL2.o -Wl,--whole-archive libSDL2.a libSDL3.a
          ar cr SDL2.a SDL2.o
      - name: FNA3D
        shell: bash
        run: |
          git clone --recursive https://github.com/FNA-XNA/FNA3D -b 25.11
          cd FNA3D
          git apply /home/runner/work/FNA-WASM-Build/FNA-WASM-Build/FNA3D.patch
          mkdir build
          cd build
          emcmake cmake .. \
            -DBUILD_SDL3=ON \
            -DSDL3_INCLUDE_DIRS=/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL/include \
            -DSDL3_LIBRARIES=/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL/emscripten-build/libSDL3.a \
            -DBUILD_SHARED_LIBS=OFF \
            -GNinja
          ninja
      - name: FAudio
        shell: bash
        run: |           
          git clone https://github.com/FNA-XNA/FAudio -b 25.11
          cd FAudio
          mkdir build
          cd build
          emcmake cmake .. \
            -DBUILD_SDL3=ON \
            -DSDL3_INCLUDE_DIRS=/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL/include \
            -DSDL3_LIBRARIES=/home/runner/work/FNA-WASM-Build/FNA-WASM-Build/SDL/emscripten-build/libSDL3.a \
            -DBUILD_SHARED_LIBS=OFF \
            -GNinja
          ninja
      - name: OpenSSL
        shell: bash
        run: |
          # https://github.com/ading2210/libcurl.js/blob/b071019761fe4a9833f7f45b5f7fc2a15cb55e4a/client/tools/openssl.sh
          PREFIX=$PWD/openssl/openssl-wasm
          mkdir -p $PREFIX  
          cd openssl
          git clone -b openssl-3.4 --depth=1 https://github.com/openssl/openssl
          cd openssl
          export CFLAGS="-Wall -Oz"
          export CXXFLAGS="-Wall -Oz"
          emconfigure ./Configure linux-x32 --prefix=$PREFIX -no-asm -static -no-afalgeng -no-dso -DOPENSSL_SYS_NETWARE -DSIG_DFL=0 -DSIG_IGN=0 -DHAVE_FORK=0 -DOPENSSL_NO_AFALGENG=1 -DOPENSSL_NO_SPEED=1 -DOPENSSL_NO_DYNAMIC_ENGINE -DDLOPEN_FLAG=0
          sed -i 's|^CROSS_COMPILE.*$|CROSS_COMPILE=|g' Makefile
          emmake make -j$(nproc --all) build_generated libcrypto.a
      - name: LibA
        shell: bash
        run: |
          cd liba/
          git clone -b v10.0.0 --depth=1 https://github.com/dotnet/runtime
          emcc liba.c -r -o liba.o \
            -DHOST_BROWSER -DHOST_WASM -DTARGET_WASM \
            -Iruntime/src/mono/ -Iruntime/src/mono/mono/ -Iruntime/src/native/public/ -Iruntime/src/mono/mono/eglib/ -Iruntime/src/native/ -I.
          emcc hot_reload_detour.c -r -o hot_reload_detour.o \
            -DHOST_BROWSER -DHOST_WASM -DTARGET_WASM \
            -Iruntime/src/mono/ -Iruntime/src/mono/mono/ -Iruntime/src/native/public/ -Iruntime/src/mono/mono/eglib/ -Iruntime/src/native/ -I.
      - name: dotnet
        shell: bash
        run: |
          cd liba/runtime/
          git apply ../../dotnet.patch
          ./build.sh -os browser -s mono+libs /p:WasmEnableThreads=true -c Release
          7z a ../runtime.zip './artifacts/bin/microsoft.netcore.app.runtime.browser-wasm/Release/*'
      - name: Copy Binaries (with new names)
        shell: bash
        run: |
          mkdir Binaries
          cp ./liba/liba.o Binaries/liba.o
          cp ./liba/hot_reload_detour.o Binaries/hot_reload_detour.o
          cp ./liba/runtime.zip Binaries/dotnet.zip
          cp ./SDL/emscripten-build/libSDL3.a Binaries/SDL3.a
          cp ./SDL2/SDL2.a Binaries/SDL2.a
          cp ./FNA3D/build/libFNA3D.a Binaries/FNA3D.a
          cp ./FNA3D/build/libmojoshader.a Binaries/libmojoshader.a    
          cp ./FAudio/build/libFAudio.a Binaries/FAudio.a
          cp ./openssl/openssl/libcrypto.a Binaries/libcrypto.a
      - name: Compress Binaries
        run: 7z a FNA-WASM.Binaries.zip Binaries/*
      - name: Archive ${{ matrix.variant }} WASM archive on ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: WASM Libraries for ${{ matrix.variant }} on ${{ matrix.os }}
          path: FNA-WASM.Binaries.zip
      - name: Make a release
        uses: ncipollo/release-action@v1
        with:
          name: 'FNALibs WASM ${{ env.RELEASE_NAME }}'
          body: 'These are the FNA libs build for WASM (Emscripten)'
          commit: ${{ github.ref_name }}
          tag: ${{ env.RELEASE_NAME }}
          removeArtifacts: true
          artifacts: "Binaries/*"
          token: ${{ secrets.GITHUB_TOKEN }}
